

NET "input[0]" LOC = T10;
NET "input[1]" LOC = T9;
NET "out1[0]" LOC = U16;
NET "out1[1]" LOC = V16;
NET "out2[0]" LOC = M11;
NET "out2[1]" LOC = N11;
NET "rd1[0]" LOC = N8;
NET "rd1[1]" LOC = U8;
NET "rd2[0]" LOC = V8;
NET "rd2[1]" LOC = T5;
NET "wr[1]" LOC = M8;
NET "wr[0]" LOC = V9;
NET "rst" LOC = C9;
NET "we" LOC = D9;
NET "clk" LOC = V10;

# PlanAhead Generated physical constraints 

NET "out1[2]" LOC = U15;
NET "out1[3]" LOC = V15;
NET "out2[3]" LOC = T11;
NET "out2[2]" LOC = R11;
NET "wr[2]" LOC = A8;
NET "rd2[2]" LOC = C4;
NET "rd1[2]" LOC = B8;
